</br>
</br>
</br>
</br>
</br>
</br>
<div align="center">
	<form name="partnerForm" ng-controller="PartnerFormController" ng-submit="partnerForm.$valid && submit()" method="POST">
	
		<p>
			<input type="text" name="id" ng-model="partner.id" ng-show="false"/>
		</p>
		<p>
			<input type="text" name="name" placeholder="Name" ng-model="partner.name" required />
		</p>
		<p>
			<input type="email" name="email" placeholder="Email" ng-model="partner.email" required />
		</p>
		<p>
			<input type="text" name="cpfCnpj" placeholder="CPF/CNPJ" ng-model="partner.cpfCnpj" />
		</p>
		<p>
			<input type="text" name="phone" placeholder="Phone" ng-model="partner.phone" />
		</p>
		<p>
			<input type="text" name="zipCode" placeholder="ZipCode" ng-model="partner.zipCode" />
		</p>
		<p>
			<input type="text" name="address" placeholder="Address" ng-model="partner.address" />
		</p>
		<p>
			<input type="text" name="number" placeholder="Number" ng-model="partner.number" />
		</p>
		<p>
			<input type="text" name="complement" placeholder="Complement" ng-model="partner.complement" />
		</p>
		<p>
			<input type="text" name="neighborhood" placeholder="Neighborhood" ng-model="partner.neighborhood" />
		</p>
		<p>
			<input type="text" name="city" placeholder="City" ng-model="partner.city" />
		</p>
		<p>
			<uf-combo name="state" id="state" ng-model="partner.state"/>
		</p>
		<p>
			<input type="text" name="note" placeholder="Note" ng-model="partner.note" />
		</p>
		
		<p>
			<input type="submit" value="Save"/>
		</p>
	
	</form>
</div>