</br>
</br>
</br>
</br>
</br>
</br>
<div align="center">
	<form name="loginForm" ng-controller="LoginController" ng-submit="loginForm.$valid && submit()" method="POST">
	
		<p>
			<input type="email" name="email" placeholder="Email" ng-model="user.email" required />
		</p>
		<p>
			<input type="password" name="password" placeholder="Password" ng-model="user.password" required />
		</p>
		<p>
			<input type="submit" value="Login"/>
		</p>
		<p>
			<a href="#/account/">Create New User</a>
		</p>
	
	</form>
</div>